<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
<script type="text/javascript" src="/js/twitto.js"></script>
<form action="/go" method="post" id="go">
	<p>Title: <%= h(@title) %></p>
	<p>URL: <%= h(@url) %></p>
	<select id='action' name='action'>
	</select>
	<input type="hidden" name="url" value="<%= h(@short_url) %>" />
	<input type="text" name="message" value="<%= h( "\"#{@title}\"" ) %>" id="message" size="30" />
	<input type="submit" name="" value="twit!" id="submit" />
</form>
<script type="text/javascript">
var emote = <%= @emote %>;
TwitTo.buildAction(emote);
</script>