<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
<script type="text/javascript" src="/js/twitto.js"></script>
<form action="/go" method="post" id="go">
	<p><span class="label">Title:</span> <%= h(@title) %></p>
	<p><span class="label">URL</span> <%= h(@url) %></p>
	<select id='action' name='action'>
	</select>
	<input type="hidden" name="url" value="<%= h(@short_url) %>" id="url"/>
	<input type="text" name="message" value="<%= h( "\"#{@title}\"" ) %>" id="message" size="30" />
	<input type="submit" name="" value="twit!" id="submit" />
	<span class="remain">Remaining: <b id="remainCount">140</b></span>
</form>

<script type="text/javascript">
var actions = <%= @actions %>;
TwitTo.buildActions(actions);
$("#action").bind("change", 	TwitTo.onMessageUpdated);
$(document).bind("keyup", 		TwitTo.onMessageUpdated);
$("#message").bind("change", 	TwitTo.onMessageUpdated);
TwitTo.init();
</script>
