<script type="text/javascript" src="/js/twitto.js"></script>
<form action="/go" method="post" id="go">
	<p><span class="label">Title:</span> <%= h(@title) %></p>
	<p><span class="label">URL</span> <%= h(@url) %></p>
	<select id='action' name='action'>
	</select>
	<input type="hidden" name="url" value="<%= h(@short_url) %>" id="url"/>
	<input type="text" name="message" value="<%= h( "\"#{@title}\"" ) %>" id="message" size="30" />
	<input type="submit" name="" value="twit!" id="submit" />
	<span class="remain">Remaining: <b id="remainCount">140</b></span>
</form>

<script type="text/javascript">
var actions = <%= @actions %>;
var fav_action = <%= @fav_action %>;
TwitTo.buildActions(actions, fav_action);

$("#action").bind("change", 	TwitTo.onMessageUpdated);
$(document).bind("keyup", 		TwitTo.onMessageUpdated);
$("#message").bind("change", 	TwitTo.onMessageUpdated);

TwitTo.init();
</script>

<div class="nav"><a href="/customize">customize</a></div>